<mat-card>
    <mat-card-title>
        sp-addition works!
    </mat-card-title>
    <mat-card-content>
        <button mat-mini-fab>Start</button>  <!--(click)=""-->
    
        <br>
        <br>
        <!-- <div *ngFor="let pt of availablePizzaToppings"> -->
            
            <!-- <mat-checkbox  [(ngModel)]="pt.checked">
                {{ pt.name }} ({{ pt.price | currency }})
            </mat-checkbox> -->
        <!-- </div> -->
        <h4>
            <!-- Total: {{ total | currency }} -->
        </h4>
    </mat-card-content>
</mat-card>