<mat-card>
    <mat-card-title>
        Star Wars Characters
    </mat-card-title>
    <mat-card-content>
        <div *ngFor="let ci of currentCharacter">
            <select (onchange)="currentMovie()">
                <option default>Pick a Character</option>
                <option>{{ci.name}}</option>
                <option>{{ci.name}}</option>
            </select>
            <h3>You selected: {{ci.name}}</h3>
            <p>The movies the character is in: {{ci.movie}}</p>
        </div>
    </mat-card-content>
</mat-card>
<!-- 
[(value)]="selected" -->