<p>crc-surprise works!</p>
<mat-card>
    <mat-card-title>
        Character Stats Generator (Mk 1)
    </mat-card-title>
    <mat-card-content>
        <h3>
            Strength: {{ rollStrength }}
        </h3>
        <h3>
            Dexterity: {{ generateNumber }}
        </h3>
        <h3>
            Constitution: {{ generateNumber }}
        </h3>
        <h3>
            Intelligence: {{ generateNumber }}
        </h3>
        <h3>
            Wisdom: {{ generateNumber }}
        </h3>
        <h3>
            Charisma: {{ generateNumber }}
        </h3>
        
    </mat-card-content>
</mat-card>