<mat-card>
    <mat-card-title>
        Character Stats Automatic Generator:
    </mat-card-title>
    <mat-card-content>
        <button 
                mat-mini-fab
                (click)="rollStat()"            
            >
            Roll
        </button>
        <h3>            
            Strength: {{ generateNumber }}
        </h3>
        <h3>
            Dexterity: {{ generateNumber }}
        </h3>
        <h3>
            Constitution: {{ generateNumber }}
        </h3>
        <h3>
            Intelligence: {{ generateNumber }}
        </h3>
        <h3>
            Wisdom: {{ generateNumber }}
        </h3>
        <h3>
            Charisma: {{ generateNumber }}
        </h3>
        
    </mat-card-content>
</mat-card>